{% extends 'train/base.html' %}
{% load static %}
{% block content %}

<br>
<div class="row" style="position: relative; left: 10%">
  <div class="col-lg-5">
    <form action="" method="POST" id="uploader">
      <input type="file" multiple>
      <p>Drag your files here or click in this area.</p>
      <button type="submit">Upload</button>
    </form>
  </div>
  <div class="col-lg-5">
    <h2>todo: maximum 4 results</h2>
    <input type="text"
           id="mySearch"
           onkeyup="myFunction()"
           placeholder="Search..."
           title="Type in a category">
    <ul id="myMenu">
        {% for word in words %}
      <li>{{ word.english }} - {{ word.russian }}</li>
            <a href="{% url 'train:update_translation' word.id %}" class="btn btn-sm btn-info">Update</a>
            <a href="{% url 'train:delete_translation' word.id %}" class="btn btn-sm btn-danger">Delete</a>
        {% endfor %}
    </ul>
  </div>
</div>
<div class="row" style="position: relative; left: 10%">
  <div class="col-lg-5">
    <div class="container bg-dark text-light"
      style="margin-top: 10px; border-radius: 5px; font-size: 30px">
      <div class="row" style="margin: 10px">
        <div class="col-sm">
          New words detected:
        </div>
        <div class="col-sm">
          int
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-5">
    <h2>add words manually</h2>
    <a class="btn-dark" href=""{% url 'train:create_translation' %}>add it</a>
    <input type="text"
    id="add_word"
    placeholder="english"
    title="Type in english translation">
    <input type="text"
    id="add_word"
    placeholder="russian"
    title="Type in russian translation">
    <button type="submit" id="add_word_button">Add</button>
  </div>
</div>
<div class="row">
  <div class="col-lg-5">
      <form method="get">
          {{ my_filter.form }}
          <button class="btn btn-primary" type="submit">Search</button>
      </form>
  </div>
</div>

<script>
function myFunction() {
  // Declare variables
  var input, filter, ul, li, a, i;
  input = document.getElementById("mySearch");
  filter = input.value.toUpperCase(); // non case sensitive
  ul = document.getElementById("myMenu");
  li = ul.getElementsByTagName("li");

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("a")[0];
    if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}
</script>
{% endblock %}